
/* Header Section */
#site-logo-div {
    width: 125;
    margin: 0 auto;
}

#alevel-logo {
    max-width: 125px;
    display: grid;
    place-items: center;
}

#searchbar {
    max-width: 245px;
    margin: 20px auto;
}


#navbar {
    max-width: 300px;
    margin: 0 auto;
    height: 50px;
    border-top: mediumblue 1px solid;

}

#navbar-item {
    padding: 0;
    width: 100px;
    display: grid;
    place-items: center;
    float: left;
}
